.favoritesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 15px;
  padding: 2rem;
}

.divider {
  visibility: hidden;
}

.lessonText {
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  font-weight: 600;
  margin: 0;
}
p strong.sectionTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #8a8a89;
}

.noFavorites {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #8a8a89;
  text-align: center;
  margin: 0 auto;
}

.teacherList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  /* margin: 0; */
}

.teacherCard {
  background: #fff;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.teacherCard:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.cardTop {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.avatarWrapper {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
}

.avatarOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  box-sizing: border-box;
  z-index: 1;
}

.teacherAvatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.cardTopRight,
.heartBtn {
  display: flex;
  justify-content: end;
  /* top: -350px; */
  margin: 0;
}

.statusDotWrapper {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #38cd3e;
  border: 2px solid #fff;
  z-index: 3;
}

.cardInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardHeader {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
}

.nameBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.languages_p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #8a8a89;
  margin-bottom: 8px;
  margin-top: 0;
}

.teacherName {
  font-weight: 600;
  font-size: 1.2rem;
  color: #121417;
}

.cardTopRight {
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.cardStats {
  display: flex;
  flex-direction: column;
}

.cardStats p {
  font-weight: 500;
  font-size: 14px;
  color: #121417;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.book_open {
  width: 16px;
  height: 16px;
}

.priceValue {
  color: #38cd3e;
  font-weight: 600;
}

.cardFav {
  display: flex;
  align-items: start;
  justify-content: end;
}

.heartBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.heartBtn img {
  width: 26px;
  height: 26px;
}

.heartBtn:active {
  transform: scale(1.2);
}

.speaksList {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #121417;
}

.sectionTitle {
  color: #8a8a89;
}

.levelList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 0 24px 0;
}

.levelItem {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 14px;
  color: #121417;
}

.book_btn {
  padding: 16px 48px;
  font-weight: 700;
  line-height: 156%;
  color: #121417;
  background: #f4c550;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 232px;
  height: 60px;
  transition: background 0.3s;
}

.book_btn:hover {
  background: #ffdc86;
}

/* --- адаптив --- */
@media screen and (min-width: 768px) {
  .teacherCard {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .divider {
    visibility: hidden;
  }
  .cardHeader {
    display: flex;
  }

  .cardTop {
    flex-direction: row;
    gap: 48px;
  }

  .cardTopRight {
    margin-left: auto;
    display: flex;
  }

  .cardStats {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .teacherList {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 24px;
  }

  .cardStats {
    gap: 6px;
  }

  .cardInfo {
    width: 968px;
  }
  .divider {
    visibility: visible;
    color: rgba(18, 20, 23, 0.2);
    font-weight: 400;
    line-height: 1;
  }
}
