.navigationBlock {
  position: relative;
  z-index: 10;
}

/* закріплений бургер-хрестик */

.hamburgerMenu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 27px;
  right: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  position: absolute;
  transition: all 0.3s ease-out;
}

.upperBar {
  transform: translateY(-10px);
}
.lowerBar {
  transform: translateY(10px);
}

.open.upperBar {
  transform: rotate(45deg);
}
.open.lowerBar {
  transform: rotate(-45deg);
}
.middleBar.hidden {
  opacity: 0;
}

/* випадаюче меню */
.menuList {
  position: fixed;
  top: 80px;
  right: 30px;
  opacity: 0;
  animation: fadeInMenu 0.3s ease-out forwards;
  z-index: 30;
}

.menuList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  text-align: left;
  font-weight: 500;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* hover */
.link:hover {
  background-color: #fff8dc;
  color: #f4c550;
  border-radius: 8px;
}

/* активне лише якщо NavLink активний */
.link.active {
  color: #f4c550;
  font-weight: 700;
  background-color: #fff8dc;
  border-radius: 8px;
}

/* фон позаду меню */
.menuBackground {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 400px;
  background-color: #ebd9ae;
  border-radius: 40% 45% 35% 40%;
  transform: translate(30%, -10%);
  z-index: 10;
  overflow: hidden;
}

.menuBackground::before,
.menuBackground::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 800px;
  border-radius: 40% 45% 35% 40%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
  z-index: -1;
}

.menuBackground::before {
  left: 40%;
  background-color: rgba(69, 105, 144, 0.15);
  animation: waves 6s infinite linear;
}

.menuBackground::after {
  left: 35%;
  background-color: rgba(2, 128, 144, 0.2);
  animation: waves 7s infinite linear;
}

@keyframes waves {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .hamburgerMenu {
    top: 35px;
    right: 55px;
  }
}

/* ховати бургер у гостей на десктопі */
@media screen and (min-width: 1158px) {
  .navigationBlock.guest {
    display: none;
  }
  .hamburgerMenu {
    top: 40px;
    right: 40px;
  }
}
