.teachersSection,
.favoritesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 15px;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.filters p {
  margin-bottom: 8px;
  font-weight: 600;
}

.customSelectWrapper {
  position: relative;
}

.customSelectDisplay {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #121417;
  padding: 14px 18px;
  border-radius: 14px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customSelectOptions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
  border-radius: 12px;
  color: #8a8a89;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.customSelectOptions li {
  padding: 10px 16px;
  cursor: pointer;
}

.customSelectOptions li:hover {
  background: #f4f4f4;
}
.customSelectOptions li.activeOption {
  color: #121417;
  font-weight: 500; /* опційно, щоб було більш помітно */
}

.chevron {
  margin-left: 8px;
}
.dollarSign {
  margin-left: 4px; /* відступ між цифрою і знаком $ */
  font-weight: 500;
}

.filterBlock {
  display: flex;
  flex-direction: column;
}

.teachersPage_p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
}
.nameBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teacherName {
  /* margin-top: 8px; */
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #121417;
}

.teacherList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin: 0;
}

.teacherCard {
  background: #fff;
  border-radius: 24px;
  padding: 24px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  text-align: start;
  transition: transform 0.3s ease;
  width: 100%;
}

.avatarContainer {
  position: relative; /* точка буде відносно аватара */
  display: inline-block;
}

.avatarWrapper {
  display: inline-block;
}

.avatarWithOuter {
  position: relative;
  display: inline-block;
  width: 120px; /* під розмір outer */
  height: 120px;
}

.teacherAvatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* поверх outer, під статус-дотом */
}

.avatarOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  box-sizing: border-box;
  z-index: 1; /* під аватаркою */
}

.statusDotWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #38cd3e;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3; /* поверх аватарки */
}

.statusDotWrapper img {
  width: 100%;
  height: 100%;
}

.cardHeader {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardTop {
  gap: 18px;
  position: relative;
}

.cardInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.cardTopRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.cardStats {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.reviewTop {
  display: flex;
  gap: 12px;
}

.cardStats p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #121417;
  display: flex;
  align-items: center;
  gap: 4px;
}

.divider {
  color: rgba(18, 20, 23, 0.2);
  font-weight: 400;
  line-height: 1;
}

.cardFav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceValue {
  color: #38cd3e; /* яскраво-зелений колір, можна змінити під свій дизайн */
  font-weight: 500; /* опційно, щоб цифра виділялась */
}
.languages_p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  margin-bottom: 8px; /* ✅ додає саме цей відступ */
}

/* .cardTopRight p {
  margin: 0;
  font-weight: 500;
} */

.cardTopRight .heartBtn {
  margin: 0;
}

.cardActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0.5rem;
}
.book_open {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.speaksList {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.sectionTitle {
  text-underline-offset: 3px;
}

.readMoreLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  color: #121417;
  cursor: pointer;
}

.levelList {
  list-style: none;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  /* margin: 8px 0 16px; */
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.levelItem {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #121417;
  transition: background 0.2s ease, color 0.2s ease;
}

.activeLevel {
  background: #f4c550;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #121417;
}

.cardExtra {
  margin-bottom: 32px;
  font-size: 0.9rem;
  color: #333;
  /* border-top: 1px solid #eee; */

  animation: fadeUp 0.3s ease;
}

.cardExtra h4 {
  margin: 0.4rem 0;
  font-weight: 600;
  color: #222;
}

.cardExtra li {
  margin-bottom: 0.3rem;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.teacherCard h2 {
  margin: 0.3rem 0;
  font-size: 1.2rem;
  text-align: start;
}

.teacherCard p {
  font-size: 0.9rem;
  text-align: start;
}

.loadMoreBtn {
  margin-top: 1.5rem;
  padding: 16px 48px;
  font-weight: 700;
  line-height: 156%;
  color: #121417;
  background: #f4c550;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

.loadMoreBtn:hover {
  background: #ffdc86;
}

.heartBtn {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}

.heartBtn img {
  width: 26px;
  height: 26px;
}

.heartBtn:active {
  transform: scale(1.3);
}

.reviewContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewItem {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  align-items: flex-start;
}

.reviewAvatarWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.reviewAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.reviewAvatarFallback {
  width: 100%;
  height: 100%;
  background-color: #b0c4de;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
}

.reviewHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.reviewHeader {
  align-items: center;
  gap: 12px;
}

.reviewName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.reviewerRating {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #121417;
  display: flex;
  align-items: center;
  gap: 8px;
}

.starIcon {
  width: 14px;
  height: 14px;
}

.reviewComment {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
}

.book_btn {
  border-radius: 12px;
  padding: 16px 48px;
  /* width: 232px; */
  height: 60px;
  background: #f4c550;
  font-weight: 700;
  line-height: 156%;
  color: #121417;
}
@media screen and (min-width: 768px) {
  .reviewItem {
    display: block;
  }
  .cardExtra {
    margin-top: 1rem;

    padding-top: 0.8rem;
  }
  .teachersSection,
  .favoritesSection {
    margin: 0;
    padding: 2rem;
  }
  .filters {
    margin-bottom: 24px;
  }
  .cardTop {
    display: flex;
    gap: 48px;
  }
  .teacherList {
    gap: 2rem;
  }
  .teacherCard {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .cardInfo {
    margin-left: 24px;
  }
  .cardActions {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .cardHeader {
    display: flex;
  }
  .teacherList {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
  }
  .filters {
    margin-bottom: 32px;
  }
  .loadMoreBtn {
    width: 183px;
    margin: 0 auto;
  }

  .teacherCard p {
    margin: 0.2rem 0;
  }

  /* .cardInfo {
    width: 968px;
    height: 280px;
  } */
}
