@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #121417;
  background-color: #f3f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.16px;
  color: #191a15;
  background: linear-gradient(to right, #fbfbfb, #e5f3ee);
  margin: 0;
  min-height: 100vh;
}*/

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f1f1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
a svg {
  outline: none;
  border: none;
  box-shadow: none;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: rgba(18, 20, 23, 0.8);
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a;
  color: white; */
  cursor: pointer;
  transition: border-color 0.25s;
  /* border-radius: 12px;
  padding: 16px 215px;
  width: 472px;
  height: 60px; */
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: none;
}

/* 🔧 Адаптивність */

/* Мобільні (до 767px) */
@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }

  button {
    width: 100%;
    padding: 14px;
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }
}

/* Планшети (768px – ) */
@media (min-width: 768px) and (max-width: 1440px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  button {
    width: 100%;
    padding: 16px;
  }
}

/* Десктопи (від 1158px) */
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* button {
    width: 472px;
    padding: 16px 215px;
  } */
}
